# workflow name
name: Generate release-artifacts

# on events
on:
  release:
    types: 
        - created

# workflow tasks
jobs:
  generate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ linux, windows ]
        goarch: [ "amd64" ]
        go: [ "1.24.0" ]
      fail-fast: true
    name: Go ${{ matrix.go }} ${{ matrix.goos }} ${{ matrix.goarch }} build
    env:
      GOPRIVATE: "github.com/gotracker"
      GO111MODULE: on
      LD_FLAGS: "-X \'github.com/gotracker/gotracker/internal/command.Version=${{ github.event.release.tag_name }}\' -X \'github.com/gotracker/gotracker/internal/command.GitHash=${{ github.sha }}\'"

    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Setup Git
        run: git config --global url."https://${{ secrets.ELEVATED_GITHUB_TOKEN }}:@github.com".insteadOf "https://github.com"
      - name: Go Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          mkdir -p dist out
          unset GOPATH;
          go build -v -ldflags "-X \'github.com/gotracker/gotracker/internal/command.Version=${{ github.event.release.tag_name }}\' -X \'github.com/gotracker/gotracker/internal/command.GitHash=${{ github.sha }}\'" -o dist/ .
          zip -r -j out/gotracker_${{ github.event.release.tag_name }}_${{ matrix.goos }}_${{ matrix.goarch }}.zip dist/
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "out/*"
          prerelease: ${{ contains(github.ref, '-beta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
